@import "tailwindcss";
@import "./navbar.css";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  /* background: linear-gradient(to right, #0d2040, #1a3a6e); */
  background: linear-gradient(135deg, #000000 0%, #0d2040 60%, #000510 100%);
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #0a0f1e, #0d2040); */
  /* background: linear-gradient(to left, #000000 0%, #0d2040 60%, #000510 100%); */
  padding-top: 14vh;
  height: 70 vh;
  padding-bottom: 20vh;
  gap: 60px;
}

.main-image {
  padding-top: 70px;
}

.main-image img {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.judul {
  color: white;
  width: 35%;
}

.judul h1 {
  font-size: 50px;
}

.judul p {
  color: white;
}

.button-main {
  border: none;
  border-radius: 5px;
  height: 50px;
  margin-top: 30px;
  width: 200px;
  background: linear-gradient(90deg, #00c6ff, #0072ff, #7b2fff);
  color: white;
}

.profil {
  margin-top: 25px;
  height: 60vh;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(135deg, #000000 0%, #0d2040 60%, #000510 100%); */
}

.section-profil {
  display: flex;
  height: 45vh;
  justify-content: center;
  width: 80%;
  gap: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.button-deploy {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  color: white;
  background: transparent;
  border: 1.5px solid #00c6ff;
  color: #00c6ff;
}

.profil-text h1 {
  color: white;
  font-size: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.profil-text p {
  color: white;
  font-size: 16px;
  font-family: "poppins", sans-serif;
}

.profile-image {
  background-color: #059c74;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 120vh;
  border-radius: 10px;
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: purple;
  padding: 20px;
  background-color: #0a0f1e;
  border: 2px solid #0072ff;
  height: 50vh;
  border-radius: 9px;
  width: 34vb;
}

.desc {
  color: #6a8caa;
  font-size: 13px;
}

.harga {
  color: #ffffff;
  font-size: 25px;
}

.type-price {
  color: #a0c4e8;
}

.text-card {
  color: #8AB4D4;
}

.button-card {
  width: 30vb;
  height: 40px;
  border: 0.8px solid white;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
  background-color: transparent;
}

.section-card {;
  height: 70vh;
}

.judul-card {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.judul-card h3{
  color: #0072FF
}

.judul-card h2{
  font-size: 27px;
  margin-bottom: 30px;
}

.list {
  border: none;
  border-top: 0.5px solid #1a3a6e;
  margin: 16px 0;
}

.container-testimoni {
  height: 70vh;
  background-color:rgb(50, 50, 53);
  display: flex;
  justify-content: center;
}

.judul-testimoni {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: blue;
}

.judul-testimoni h3 {
  color: #00c6ff;
}
